.card {
    position: relative;
    box-shadow: #333 0 2px 0 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: whitesmoke;
    min-width: 250px;
    color: #222;
    margin-right: 15px;
}

.card-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-info {
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: whitesmoke;
    box-shadow: #333 0 6px 0 5px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.rotate-arrow-down {
    transform: rotate(180deg);
}

.rotate-arrow-up {
    transform: rotate(0deg);
}

.rotate-arrow-down, .rotate-arrow-up {
    transition: .3s all;
}
